@use "/src/styles/styles" as *;
.score {
  border: 3px solid $headerOutline;
  border-radius: 5%;
  width: 80%;
  height: 12%;
  margin: 10% 0 30% 0;
  padding: 1em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-family: $family;
  font-size: 1.2em;
  font-weight: 700;
  color: #ffff;
  &--describ {
    display: flex;
    flex-direction: column;
    &__spots {
      align-items: center;
      justify-content: center;
      background-color: #ffff;
      border-radius: 5px;
      width: 30%;
    }
  }
  &--spots {
    color: $scoreText;
    font-weight: 500;
  }
  &--scoreboard {
    color: $darkText;
    font-size: 2em;
  }
}
