@use "/src/styles/styles" as *;
.containerIcon {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  left: 50%;
  position: relative;
}

.containerIcon--BorderScissor {
  border: 1em solid $scissorsGradient;
}
